<section class="service-wrap-layout4 bg-shape-5">
    <div class="container">
      <div class="heading-layout1 heading-light">
        <div class="item-subtitle">What We Do</div>
        <h2>Accounting Solutions</h2>
      </div>
      <div class="row">
        <div class="">
          <p class="text-light w-100 p-4">At Courtright Accounting Solutions LLC, we provide practical accounting solutions in
            an attentive and compassionate environment.</p>
          <p class="text-light w-100 p-4">Courtright Accounting Solutions LLC is a boutique firm focused on the accounting
            needs of busy individuals and families, traveling professionals, and seniors with complex financial lives.
            Their hectic schedules make it difficult to manage multiple accounts, trusts, investments, and complex
            personal tax returns. We provide a wide range of accounting services that meet each client’s unique
            objectives. We look forward to speaking with you to determine how we may best assist your needs.</p>
        </div>
      </div>
    </div>
  </section>

<!-- New Section 2 -->
<section>
    <div class="text-center beige-review-section">
        <div class="container">
            <div class="sec-title">
                <h2 class="locations-heading text-blue">
                    Proudly Serving All of The Below Listed Areas<br />
                </h2>
            </div>
            <p class="para-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium velit voluptatum consequuntur
                quidem.
                Dolore officia magnam reiciendis quisquam libero eum asperiores, iure eos laboriosam repellat esse,
                laborum
                recusandae explicabo quo.
            </p>
        </div>
    </div>
</section>
<!-- Iframe section -->
<section>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45337.02419062303!2d-85.64620690583702!3d44.74891095186848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x881e32b2d7da29dd%3A0x47bfdc3f3f745621!2sTraverse%20City%2C%20MI!5e0!3m2!1sen!2sus!4v1702832887365!5m2!1sen!2sus"
        width="100%" height="450" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<footer class="footer-wrap-layout1">
    <div class="footer-top-wrap-layout1">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-box-layout1">
                        <div class="footer-logo">
                            <a href="index.html"><img src="/images/logo.png" alt="logo" width="250" /></a>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nostrum sint quibusdam
                            distinctio odio beatae quidem minima quisquam! Maiores voluptatum laudantium nostrum debitis
                            repudiandae nihil magnam ea, quam id ab!
                        </p>
                        <div class="footer-title">
                            <h3>Follow Us</h3>
                        </div>

                        <ul class="footer-social">
                            <li>
                                <a href="https://www.facebook.com/anchorprowash"><i class="fab fa-facebook-f"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-box-layout1">
                        <div class="footer-title">
                            <h3>Quick Links</h3>
                        </div>
                        <div class="footer-menu-box">
                            <ul class="footer-menu-list">
                                <li>
                                    <a href="/about-us">About Us</a>
                                </li>
                                <li>
                                    <a href="/contact-us">Contact Us</a>
                                </li>
                                <li>
                                    <a href="/gallery">Gallery</a>
                                </li>
                                <li>
                                    <a href="/service-area">Service Area</a>
                                </li>
                            </ul>
                            <ul class="footer-menu-list">
                                <!-- <li>
                                    <a href="/about-us">About Us</a>
                                </li>
                                <li>
                                    <a href="/contact-us">Contact Us</a>
                                </li>
                                <li>
                                    <a href="/gallery">Gallery</a>
                                </li>
                                <li>
                                    <a href="/service-area">Service Area</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-box-layout1">
                        <div class="footer-title">
                            <h3>Company Info</h3>
                        </div>
                        <div>
                            <p>428 South Garfield Avenue Traverse City, MI 49686 USA</p>
                        </div>
                        <div class="footer-title">
                            <h3>Business Hours</h3>
                        </div>
                        <div class="working-hours">
                            <p>Mon: 9:00 AM – 9:00 PM</p>

                            <p>Tue: 9:00 AM – 9:00 PM</p>

                            <p>Wed: 9:00 AM – 9:00 PM</p>

                            <p>Thu: 9:00 AM – 9:00 PM</p>

                            <p>Fri: 9:00 AM – 9:00 PM</p>

                            <p>Sat: 9:00 AM – 9:00 PM</p>

                            <p>Sun: 9:00 AM – 9:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-wrap-layout1">
        <div class="container">
            <div class="copyright">
                Copyright ©2023 Courtright Accounting Solutions LLC | Website developed &
                hosted by
                <a href="https://schrader.co/"> Schrader Web Solutions </a>
            </div>

            <div class="copyright">
                <a href="#">Privacy Policy</a>
                |
                <a href="#">Terms Conditions</a>
            </div>
        </div>
    </div>
</footer>