<footer class="footer-wrap-layout1">
    <div class="footer-top-wrap-layout1">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-box-layout1">
                        <div class="footer-logo">
                            <a href="index.html"><img src="/images/logo.png" alt="logo" width="250" /></a>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nostrum sint quibusdam distinctio odio beatae quidem minima quisquam! Maiores voluptatum laudantium nostrum debitis repudiandae nihil magnam ea, quam id ab!
                        </p>
                        <div class="footer-title">
                            <h3>Follow Us</h3>
                        </div>

                        <ul class="footer-social">
                            <li>
                                <a href="https://www.facebook.com/anchorprowash"><i class="fab fa-facebook-f"></i></a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-box-layout1">
                        <div class="footer-title">
                            <h3>Quick Links</h3>
                        </div>
                        <div class="footer-menu-box">
                            <ul class="footer-menu-list">
                                <li>
                                    <a href="/about-us">About Us</a>
                                </li>
                                <li>
                                    <a href="/contact-us">Contact Us</a>
                                </li>
                                <li>
                                    <a href="/gallery">Gallery</a>
                                </li>
                                <li>
                                    <a href="/service-area">Service Area</a>
                                </li>
                            </ul>
                            <ul class="footer-menu-list">
                                <!-- <li>
                                    <a href="/about-us">About Us</a>
                                </li>
                                <li>
                                    <a href="/contact-us">Contact Us</a>
                                </li>
                                <li>
                                    <a href="/gallery">Gallery</a>
                                </li>
                                <li>
                                    <a href="/service-area">Service Area</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-box-layout1">
                        <div class="footer-title">
                            <h3>Company Info</h3>
                        </div>
                        <div>
                            <p>428 South Garfield Avenue Traverse City, MI 49686 USA</p>
                        </div>
                        <div class="footer-title">
                            <h3>Business Hours</h3>
                        </div>
                        <div class="working-hours">
                            <p>Mon: 9:00 AM – 9:00 PM</p>

                            <p>Tue: 9:00 AM – 9:00 PM</p>

                            <p>Wed: 9:00 AM – 9:00 PM</p>

                            <p>Thu: 9:00 AM – 9:00 PM</p>

                            <p>Fri: 9:00 AM – 9:00 PM</p>

                            <p>Sat: 9:00 AM – 9:00 PM</p>

                            <p>Sun: 9:00 AM – 9:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-wrap-layout1">
        <div class="container">
            <div class="copyright">
                Copyright ©2023 Courtright Accounting Solutions LLC | Website developed &
                hosted by
                <a href="https://schrader.co/"> Schrader Web Solutions </a>
            </div>

            <div class="copyright">
                <a href="#">Privacy Policy</a>
                |
                <a href="#">Terms Conditions</a>
            </div>
        </div>
    </div>
</footer>
