<section style="background-color: white;" class="service-wrap-layout4 bg-shape-5">
    <div class="container">
     
      <div class="row">
       

<img src="/images/logo.png" alt="main_logo" />
            
          <h3 style="color: black; line-height: 1.5;">Courtright Accounting Solutions LLC is a boutique firm focused on the accounting
            needs of busy individuals and families, traveling professionals, and seniors with complex financial lives.
            Their hectic schedules make it difficult to manage multiple accounts, trusts, investments, and complex
            personal tax returns. We provide a wide range of accounting services that meet each client’s unique
            objectives. We look forward to speaking with you to determine how we may best assist your needs.</h3>
       <br /><br />
                 <br /><br />

      </div>
    </div>
  </section>




    <div class="footer-bottom-wrap-layout1">
        <div class="container">
            <div class="copyright">
                Copyright ©2023 Courtright Accounting Solutions LLC | Website developed &
                hosted by
                <a href="https://schrader.co/"> Schrader Web Solutions </a>
            </div>

            <div class="copyright">
                <a href="#">Privacy Policy</a>
                |
                <a href="#">Terms Conditions</a>
            </div>
        </div>
    </div>
</footer>
