   <header class="header">
       <div id="header-topbar" class="pd-b-25 pd-t-35">
           <div class="container">
               <div class="row align-items-center">
                   <div class="col-lg-5">
                       <div class="header-topbar-layout2">
                           <div class="phone-number">
                               <i class="flaticon-call-answer"></i> (616) 481-2097
                           </div>
                           <span>Call today for a free estimate!</span>
                       </div>
                   </div>
                   <div class="col-lg-2">
                       <div class="logo-area">
                           <a href="/index.html" class="temp-logo">
                               <img src="/images/logo.png" alt="logo" class="img-fluid" width="150" />
                           </a>
                       </div>
                   </div>
                   <div class="col-lg-5 d-flex justify-content-end">
                       <div class="header-action-layout1">
                           <ul>
                               <li class="header-action-btn">
                                   <a href="/contact-us" class="item-btn">Click For Consultation</a>
                               </li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div id="rt-sticky-placeholder"></div>
       <div id="header-menu" class="header-menu menu-layout3 bg-accent">
           <div class="container">
               <div class="row d-flex align-items-center">
                   <div class="col-lg-12 d-flex justify-content-center possition-static">
                       <nav id="dropdown" class="template-main-menu">
                           <ul>
                               <li>
                                   <a href="/about-us">ABOUT US</a>
                               </li>
                               <li>
                                   <a href="/service-area">Service Area</a>
                               </li>
                               <li>
                                   <a href="/gallery">Portal</a>
                               </li>
                               <li>
                                   <a href="/our-services.html">OUR SERVICES</a>
                                   <ul class="dropdown-menu-col-1">
                                       <li>
                                           <a href="#">Service</a>
                                       </li>
                                       <li>
                                        <a href="#">Service</a>
                                    </li>
                                    <li>
                                        <a href="#">Service</a>
                                    </li>
                                   </ul>
                               </li>
                               <li>
                                   <a href="/contact-us">CONTACT US</a>
                               </li>
                           </ul>
                       </nav>
                   </div>
               </div>
           </div>
       </div>
   </header>
