@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc9.ttf)
      format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxP.ttf)
      format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)
      format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc9.ttf)
      format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBBc9.ttf)
      format("truetype");
  }


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    font-family: "Roboto", sans-serif,Arial, sans-serif;
}
header {
    display: none;
}
header .main {
   display: none;
}
.main-section {

    width:100%;
    min-height: 100vh;
    background:url('coming-soon.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.left-section {
    background-color: rgba(255, 255, 255, 0.5);
    width:40%;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: left;
    padding-left:3%;
    padding-right:2%;
}

.left-section h1 {
   font-size:1.5rem;
   margin-bottom:10px;
}
.left-section img {
    margin-bottom: 30px;
}
.left-section h3 {
    font-size:1.5rem;
    margin-bottom:20px;
}
.left-section p {
    font-size: 2.4rem;
    font-weight: 200;
    color: #0b0b0b;
}


.footer {

   display: block;
    width: 100%;
    height: 10vh;
    background-color: #0b0b0b93;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
    
.footer p {
    margin: 0; 
    padding: 0.5rem;
    text-align: center;
    color: #ffff;
    font-size: 1.2rem;
}

.mobile-footer {
    display:none;
}

@media(max-width:700px){
    header {
       display: block;
        width:100%;
        height:200px;
        background-color:#ffff;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    header .main {
        position:absolute;
        display: block;
        text-align: center;

     }
    header .main h1 {

        font-weight: 600;
        font-size:1.5rem;
        letter-spacing:1px;
        margin-bottom: 2px;
        
    }
    header .main h3 {
        font-weight: 600;
        font-size:1.2rem;
    }
    .main-section {
        background-position:center;
        background-size:cover;
        width:100%;
        min-height:500px;       
        
    }
    .left-section {
        display: none;
    }
    .left-section h1 {
       display: none;
     }
     .left-section img {
        display: none;
     }
     .left-section h3 {
        display: none;
     }
     .left-section p {
        display: none;
     }

    .footer {
       
       display:none;
       

    }
    .contact-section {
        width:100%;
        height:100px;
        background-color: #28a745;
        bottom:0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-section a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
       
    }
    
    .contact-section a span {
   
       margin-left:8px;
       font-size:22px;
       font-weight:600;
    }
    .mobile-footer {
        display: block;
        width: 100%;
        height: 10vh;
        background-color: #1e1e1ebb;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .mobile-footer p {
        margin: 0; 
        padding: 0.5rem;
        text-align: center;
        color: #ffff;
        font-size: 0.9rem;
        align-items: center;
    }
}